mixin header
    ul
        li
            a(href='/') home
        li
            a(href='/example.html') example 1
        li
            a(href='/example2.html') example 2
        li
            a(href='/example3.html') example 3
        